# Python bytecode
*.py[cod]
__pycache__/
*.py,cover

# Django specific
*.log
*.pot
*.mo
db.sqlite3
local_settings.py
media/
static/
staticfiles/
uploads/

# Environment variables and virtualenvs
.env
.env.*
env/
venv/
ENV/
env.bak/
venv.bak/

# Coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/

# IDE settings
.idea/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Test/Debug output
*.out
*.log
*.tmp
*.rej
*.orig
*.bak

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Type checkers
.dmypy.json
.pyre/
.pytype/
