# /Users/thejoker/Documents/GitHub/analyseur_donnees/.gitignore

# Django specific
*.log
*.pot
*.pyc
*.mo
__pycache__/
db.sqlite3
media/
uploads/

# Environment variables
.env
env/
venv/
config/settings_production.py

# System specific
.DS_Store
Thumbs.db
.git/index.lock

# Static files
static/
staticfiles/
*.sass-cache/
*.css.map
*.js.map

# IDE and editor settings
*.sublime-*
.idea/ 
.vscode/
*.swp
*.swo
*.swn

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest and testing
.pytest_cache/
.tox/
pytestdebug.log

# MyPy
.mypy_cache/

# Temporary files and backups
*.tmp
*.bak
*.orig
*.out
*.rej

# Compiled files
*.py[cod]
*.pyo
*.class

# Egg files
*.egg-info/
*.egg

# IPython/Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# SQL dump files
*.sql

# Log files
*.log

# ZZZZ:
/Users/thejoker/Documents/GitHub/analyseur_donnees/large_numeric_data.csv